*{
	padding: 0;
	margin: 0;
	border: 0;
}

body{
	background-color: #00b27c;
	font-family: Arial;
	color: white;
	margin: 0px;
	font-size: 27px
}

#left{
	float: left;
	width: 50%;
	padding-top: 5%;
}
p{
	font-size: 1em;
	padding: 3%;
	line-height: 120%;
}
.icon{
	max-width: 100%;
	height: auto;
	width: auto;
	margin-top: 7%;
	}
#photo{
	text-align: center;

}
#battery{
	text-align: center;

}
#setting{
	text-align: center;

}
#right{
	float: right;
	text-align: center;
	width: 50%;
	padding-top:10%;

}
aside{
	margin: auto;
}

@media all and (min-width: 1301px) {
    body{
        font-size: 27px;
    }
}

@media all and (max-width: 1079px) and (min-width: 760px) {
    body{
        font-size: 20px;
    }
}
